@import "tailwindcss";



*::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}


*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #000ba9;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #3800a9;
}


